footer {
    position: sticky;
    top: 100%;
    background-color: whitesmoke;

    .logo {
        margin: 0rem;
        padding: 1rem;
    }

    .copyright-content {
        p {
            font-size: $font-xsm;
            color: lightgray;
        }
    }

    .copyright-icon {
        padding-left: 1rem;
        font-size: $font-sm;
        color: lightgray;
    }

    //social info

    .social-info {
        position: relative;
        display: inline-block;
        color: rgb(39, 39, 39);
    }

    .social-icon { 
        margin: 0rem 0rem 0rem 0rem;
        padding: 1rem;
        cursor: pointer;
          
        &:hover {
            color: lightslategray;
            transition: color 200ms ease-in-out;
        }
    }

    .social-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 5rem;
        border-radius: 5px;
        bottom: .5rem;
        right: 3.5rem;
    }

    .social-links {
        position: relative;
        margin: .25rem;
        padding: 0rem;
    }

    .social-content a {
        font-size: $font-sm;
        color: black;
        padding: .25rem;
        text-decoration: none;
        display: block;
    }

    .social-content a:hover {
        color: grey;
        background-color: rgb(240, 240, 240);
        border-radius: 5px;
        transition: background-color 200ms ease-in-out
    }
        
    .social-info:hover .social-content {
        display: block;
    }
}